.footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #101f46;
  color: white;
  padding-bottom: 13px;
  font-family: helvetica;
  font-size: 13px;
}
