.home-main-container {
  width: 100%;
  height: auto;
  font-family: Helvetica, sans-serif;
  z-index: -1;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}

.home-main-container .home-main-header {
  height: 100vh;
  width: 100%;
  background-color: red;
  background-image: url("https://res.cloudinary.com/dsj26eqz4/image/upload/v1580904424/download_ptsmf7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.home-main-container .home-main-header h1 {
  width: 50%;
  text-align: center;
  font-size: 40px;
  color: #0e2973;
  margin-top: 80px;
}

.home-main-container .home-second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-main-container .home-second-section .second-section-info {
  width: 33.5%;
  height: 100%;
  padding-top: 40px;
  text-align: center;
  color: white;
}

.home-main-container .home-second-section .second-section-info h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.home-main-container .home-second-section .second-section-info:nth-child(1) {
  background-color: #0e2973;
}

.home-main-container .home-second-section .second-section-info:nth-child(2) {
  background-color: #7dabf4;
}

.home-main-container .home-second-section .second-section-info:nth-child(3) {
  background-color: #101f46;
}

.home-main-container .home-third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 170px;
  background-color: #213e8c;
  color: white;
}

.home-main-container .home-third-section h3 {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  width: 55%;
  text-align: center;
  margin-bottom: 10px;
}

.home-main-container .home-third-section p {
  font-size: 17px;
  font-weight: 200;
}

.home-main-container .home-third-section > h3::before {
  content: "<<";
}

.home-main-container .home-third-section > h3::after {
  content: ">>";
}

.home-main-container .home-fourth-section {
  height: 480px;
  width: 100%;
  background-color: #213e8c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main-container .home-fourth-section .fourth-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 42%;
}

.home-main-container .home-fourth-section .fourth-section-text h3 {
  font-size: 65px;
}

.home-main-container .home-fourth-section .fourth-section-text h4 {
  font-size: 30px;
  margin: 14px 0;
}

.home-main-container .home-fourth-section .fourth-section-text .home-donation {
  width: 180px;
  height: 60px;
  margin-top: 14px;
  font-size: 20px;
  color: #213e8c;
}

.home-main-container .home-fourth-section .fourth-section-image {
  height: 100%;
  width: 58%;
}

.home-main-container .home-fourth-section .fourth-section-image img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=home.css.map */